body{
	background-image:url("../image/main_BG.jpg");
	background-reapt:reapt-n;
}
#login-div{
	width:599px;
	height:300px;
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	
	background-image:url(../image/form.jpg);
	background-size:cover;
	background-reapt:reapt-n;
	
	
	
}
#login-font{
	background-color:#5555ff;
	width:598px;
	height:150px;
	border:1px solid black;
}
#login-font>h1{
	
	width:80px;
	display:block;
	margin:50px auto;
}
#input-div{
	border:1px solid gray;
	width:598px;
	height:146px;
} 
#pw-div{
	margin-top:25px;
	margin-left:20px;
	width:400px;
	height:35px;
}
#user-div{
	margin-top:115px;
	margin-left:20px;
	width:400px;
	height:35px;
}
#user-lable{
	display:inline;
	
}
#password-lable{
	display:inline;
	margin-left:16px;
} 
#input-pw,#input-user{
	margin-left:30px;
	width:300px;
	background-color:rgb(245,245,245);
}

#btn-login{
	
} 
#btn-reget{
	margin-left:100px;
}
#btn-div{
	margin-left:130px;
	margin-top:30px;
	width:250px;
	height:35px;
}
#img-log{
	float:left;
	display:block;
	width:95px;
	height:25px;
	background-image:url("../image/login_btn.jpg");
	repeat:repeat-n;
}
#img-sigunp{
	display:block;
	float:right;
	width:95px;
	height:25px;
	background-image:url("../image/signup_btn.jpg");
	repeat:repeat-n;
}














